# Dependencies
node_modules/
functions/node_modules/

# Firebase & Local cache
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Environment & Secrets
.env
.env.local
*.secret.json

# OS & Editor cruft
.DS_Store
Thumbs.db
desktop.ini
.vscode/
*.swp
npm-debug.log*
